@model List<MenuSizeViewModel>

@{
    ViewData["Title"] = "Menu Size List";
}

<h2>Menu Size List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Additional Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var extra in Model)
        {
            <tr>
                <td>@extra.Name</td>
                <td>@extra.AdditionalPrice</td>
                <td>
                    <a asp-page="Update" asp-route-id="@extra.Id">Update</a> |
                    <a asp-page="Delete" asp-route-id="@extra.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


