@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Shop - Hoşgeldiniz</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: aliceblue; 
        }

        .welcome-container {
            text-align: center;
            margin-top: 100px;
            color: #343a40; 
        }

            .welcome-container h1 {
                font-size: 3rem;
                color: #e44d26; 
            }

            .welcome-container p {
                font-size: 1.5rem;
            }
    </style>
</head>
<body>
    <div class="container welcome-container">
        <h1 class="display-4">Hoşgeldiniz</h1>
        <p>Burger Shop'e hoş geldiniz. Lezzetli burgerlerimizle sizi ağırlamaktan mutluluk duyuyoruz.</p>
    </div>
</body>
</html>

