@{
    ViewData["Title"] = "Home Page";
}


<div class="col-lg-6 text-center text-lg-start">
    <h1 class="display-3 text-white animated slideInLeft">Welcome to<br>Burger Store</h1>
    <p class="text-white animated slideInLeft mb-4 pb-2">To taste our amazing burgers, you must first log in. Click on the menu to list our delicious burgers..</p>
    <a class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft" asp-controller="Menu" asp-action="Index">Menu</a>
</div>
<div class="col-lg-6 text-center text-lg-end overflow-hidden">
    <img class="img-fluid" src="img/hero.png" alt="">
</div>
