@model List<MenuViewModel>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="@item.PhotoPath" alt="@item.Name" width="200" height="200" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a asp-action="Place" asp-route-id="@item.Id">Order</a>
        </div>
    </div>
}

