@{
    ViewData["Title"] = "Register";
}
@model RegisterViewModel
<div class="row">@ViewBag.RegisterError</div>
<!-- login form -->
<div class="login-form login-form-left">
    <div class="agile-row">
        <h2>Sign Up </h2>
        <div class="login-agileits-top">
            <form asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <label asp-for="Surname" class="form-label"></label>
                <input asp-for="Surname" class="form-control">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email"></span>
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control">
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </div>
</div>
