@{
    ViewData["Title"] = "Register";
}
@model RegisterViewModel
<div class="row">@ViewBag.RegisterError</div>
<div class="row">
    <div class="col-md-8 mb-3">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
            <div>
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control">
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Surname" class="form-label"></label>
                <input asp-for="Surname" class="form-control">
                <span asp-validation-for="Surname"></span>
            </div>
            <div>
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
